
[submodule "themes/docsy"]
	path = themes/docsy
	url = https://github.com/google/docsy

[submodule "public"]
	path = public
	url = git@github.com:tez-capital/docs.tez.capital.git
	branch = main

[submodule "projects/tezpay"]
	path = projects/tezpay
	url = git@github.com:tez-capital/tezpay.git
	branch = main

[submodule "content"]
	path = content
	url = git@github.com:tez-capital/docs.tez.capital_content.git
	branch = main
[submodule "projects/tezbake"]
	path = projects/tezbake
	url = git@github.com:tez-capital/tezbake.git
	branch = main
